<!-- start header -->
<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
        <!-- logo start -->
        <div class="page-logo">
            <a href="index-2.html">
                <span class="logo-icon material-icons fa-rotate-45">school</span>
                <span class="logo-default">EDUKO</span> </a>
        </div>
        <!-- logo end -->
        <ul class="nav navbar-nav navbar-left in">
            <li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
        </ul>
        <!-- <form class="search-form-opened" action="#" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." name="query">
                <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit">
                        <i class="icon-magnifier"></i>
                    </a>
                </span>
            </div>
        </form> -->
        <!-- start mobile menu -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
            data-target=".navbar-collapse">
            <span></span>
        </a>
        <!-- end mobile menu -->
        <!-- start header menu -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li><a href="javascript:;" class="fullscreen-btn"><i class="fa fa-arrows-alt"></i></a></li>
                <!-- start language menu -->
                <!-- <li class="dropdown language-switch">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <img
                            src="img/flags/gb.png" class="position-left" alt=""> English <span
                            class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="deutsch"><img src="img/flags/de.png" alt=""> Deutsch</a>
                        </li>
                        <li>
                            <a class="ukrainian"><img src="img/flags/ua.png" alt=""> Українська</a>
                        </li>
                        <li>
                            <a class="english"><img src="img/flags/gb.png" alt=""> English</a>
                        </li>
                        <li>
                            <a class="espana"><img src="img/flags/es.png" alt=""> España</a>
                        </li>
                        <li>
                            <a class="russian"><img src="img/flags/ru.png" alt=""> Русский</a>
                        </li>
                    </ul>
                </li> -->
                <!-- end language menu -->
                <!-- start notification dropdown -->
                <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                        data-close-others="true">
                        <i class="material-icons">access_alarm</i>
                        <span class="badge headerBadgeColor1"> 0 </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="external">
                            <h3><span class="bold">Notificación</span></h3>
                            <span class="notification-label purple-bgcolor">New 6</span>
                        </li>
                        <!-- <li>
                            <ul class="dropdown-menu-list small-slimscroll-style" data-handle-color="#637283">
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">just now</span>
                                        <span class="details">
                                            <span class="notification-icon circle deepPink-bgcolor"><i
                                                    class="fa fa-check"></i></span>
                                            Congratulations!. </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">3 mins</span>
                                        <span class="details">
                                            <span class="notification-icon circle purple-bgcolor"><i
                                                    class="fa fa-user o"></i></span>
                                            <b>John Micle </b>is now following you. </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">7 mins</span>
                                        <span class="details">
                                            <span class="notification-icon circle blue-bgcolor"><i
                                                    class="fa fa-comments-o"></i></span>
                                            <b>Sneha Jogi </b>sent you a message. </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">12 mins</span>
                                        <span class="details">
                                            <span class="notification-icon circle pink"><i
                                                    class="fa fa-heart"></i></span>
                                            <b>Ravi Patel </b>like your photo. </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">15 mins</span>
                                        <span class="details">
                                            <span class="notification-icon circle yellow"><i
                                                    class="fa fa-warning"></i></span> Warning! </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">10 hrs</span>
                                        <span class="details">
                                            <span class="notification-icon circle red"><i
                                                    class="fa fa-times"></i></span> Application error. </span>
                                    </a>
                                </li>
                            </ul>
                            <div class="dropdown-menu-footer">
                                <a href="javascript:void(0)"> All notifications </a>
                            </div>
                        </li> -->
                    </ul>
                </li>
                <!-- end notification dropdown -->
                <!-- start message dropdown -->
                <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                        data-close-others="true">
                        <i class="material-icons">email</i>
                        <span class="badge headerBadgeColor2"> 0 </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="external">
                            <h3><span class="bold">Mensages</span></h3>
                            <span class="notification-label cyan-bgcolor">Nuevo 0</span>
                        </li>
                        <!-- <li>
                            <ul class="dropdown-menu-list small-slimscroll-style" data-handle-color="#637283">
                                <li>
                                    <a href="#">
                                        <span class="photo">
                                            <img src="img/prof/prof2.jpg" class="img-circle" alt="">
                                        </span>
                                        <span class="subject">
                                            <span class="from"> Sarah Smith </span>
                                            <span class="time">Just Now </span>
                                        </span>
                                        <span class="message"> Jatin I found you on LinkedIn... </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="photo">
                                            <img src="img/prof/prof3.jpg" class="img-circle" alt="">
                                        </span>
                                        <span class="subject">
                                            <span class="from"> John Deo </span>
                                            <span class="time">16 mins </span>
                                        </span>
                                        <span class="message"> Fwd: Important Notice Regarding Your Domain
                                            Name... </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="photo">
                                            <img src="img/prof/prof1.jpg" class="img-circle" alt="">
                                        </span>
                                        <span class="subject">
                                            <span class="from"> Rajesh </span>
                                            <span class="time">2 hrs </span>
                                        </span>
                                        <span class="message"> pls take a print of attachments. </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="photo">
                                            <img src="img/prof/prof8.jpg" class="img-circle" alt="">
                                        </span>
                                        <span class="subject">
                                            <span class="from"> Lina Smith </span>
                                            <span class="time">40 mins </span>
                                        </span>
                                        <span class="message"> Apply for Ortho Surgeon </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="photo">
                                            <img src="img/prof/prof5.jpg" class="img-circle" alt="">
                                        </span>
                                        <span class="subject">
                                            <span class="from"> Jacob Ryan </span>
                                            <span class="time">46 mins </span>
                                        </span>
                                        <span class="message"> Request for leave application. </span>
                                    </a>
                                </li>
                            </ul>
                            <div class="dropdown-menu-footer">
                                <a href="#"> All Messages </a>
                            </div>
                        </li> -->
                    </ul>
                </li>
                <!-- end message dropdown -->
                <!-- start manage user dropdown -->
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                        data-close-others="true">
                        <img alt="" class="img-circle "
                            src="https://www.seekpng.com/png/detail/428-4287240_no-avatar-user-circle-icon-png.png" />
                        <span class="username username-hide-on-mobile"></span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="user_profile.html">
                                <i class="icon-user"></i> Perfil </a>
                        </li>
                        <!-- <li>
                            <a href="#">
                                <i class="icon-settings"></i> Settings
                            </a>
                        </li> -->
                        <!-- <li>
                            <a href="#">
                                <i class="icon-directions"></i> Help
                            </a>
                        </li> -->
                        <li class="divider"> </li>
                        <li>
                            <a href="lock_screen.html">
                                <i class="icon-lock"></i> Lock
                            </a>
                        </li>
                        <li>
                            <a href="login.html">
                                <i class="icon-logout"></i> Log Out </a>
                        </li>
                    </ul>
                </li>
                <!-- end manage user dropdown -->
                <li class="dropdown dropdown-quick-sidebar-toggler">
                    <a id="headerSettingButton" class="mdl-button mdl-js-button mdl-button--icon pull-right"
                        data-upgraded=",MaterialButton">
                        <i class="material-icons">more_vert</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- start horizontal menu -->
    <div class="navbar-custom">
        <div class="hor-menu hidden-sm hidden-xs">
            <ul class="nav navbar-nav">
                <li class="mega-menu-dropdown active open">
                    <a href="" class="dropdown-toggle">
                        <i class="material-icons">dashboard</i>
                        <span class="ml-1">Dashboard</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="classic-menu-dropdown mega-menu-dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                        data-close-others="true" aria-expanded="false">
                        <i class="material-icons">account_circle</i>
                        <span class="ml-1">Estudiantes</span>
                        <i class="fa fa-angle-down"></i>
                        <span class="arrow "></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-defaul">
                        <li class="nav-item">
                            <a href="#archivo-estudiante" class="nav-link ">
                                <span class="title">Archivo</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#search-student" class="nav-link ">
                                <span class="title">Buscar estudiante</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="classic-menu-dropdown mega-menu-dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                        data-close-others="true" aria-expanded="false">
                        <i class="material-icons">wc</i>
                        <span class="ml-1">Profesores</span>
                        <i class="fa fa-angle-down"></i>
                        <span class="arrow "></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-defaul">
                        <!-- <li class="nav-item">
                            <a href="all_students.html" class="nav-link "> 
                                <span class="title">Archivo</span>
                            </a>
                        </li> -->
                        <li class="nav-item">
                            <a href="#search-profesor" class="nav-link ">
                                <span class="title">Buscar profesor</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- <li class="mega-menu-dropdown ">
                    <a href="#" class="dropdown-toggle"> <i class="material-icons">email</i> Email
                        <i class="fa fa-angle-down"></i>
                        <span class="arrow "></span>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 200px;">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <a href="email_inbox.html" class="nav-link "> <span
                                                        class="title">Inbox</span></a>
                                            </li>
                                            <li>
                                                <a href="email_view.html" class="nav-link "> <span
                                                        class="title">View Email</span></a>
                                            </li>
                                            <li>
                                                <a href="email_compose.html" class="nav-link "><span
                                                        class="title">Compose Mail</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li> -->
                <li class="mega-menu-dropdown mega-menu-dropdown">
                    <a href="#admissions" class="dropdown-toggle"> <i class="material-icons">dvr</i>
                        <span class="ml-1">Admisiones</span>
                        <i class="fa fa-angle-down"></i>
                        <span class="arrow "></span>
                    </a>
                    <!-- <ul class="dropdown-menu pull-left">
                        <li class="dropdown-submenu">
                            <a href="javascript:;">
                                <i class="fa fa-briefcase"></i> Bootstrap Elements</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item  ">
                                    <a href="ui_buttons.html" class="nav-link ">
                                        <span class="title">Buttons</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="ui_tabs_accordions_navs.html" class="nav-link ">
                                        <span class="title">Tabs &amp; Accordions</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="ui_typography.html" class="nav-link ">
                                        <span class="title">Typography</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="notification.html" class="nav-link ">
                                        <span class="title">Notifications</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="ui_icons.html" class="nav-link ">
                                        <span class="title">Icons</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="ui_panels.html" class="nav-link ">
                                        <span class="title">Panels</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="ui_grid.html" class="nav-link ">
                                        <span class="title">Grids</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="calendar.html" class="nav-link ">
                                        <span class="title">Calender</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="ui_tree.html" class="nav-link ">
                                        <span class="title">Tree View</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="ui_carousel.html" class="nav-link ">
                                        <span class="title">Carousel</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:;">
                                <i class="fa fa-google"></i> Material Elements</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item  ">
                                    <a href="material_button.html" class="nav-link ">
                                        <span class="title">Buttons</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="material_tab.html" class="nav-link ">
                                        <span class="title">Tabs</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="material_chips.html" class="nav-link ">
                                        <span class="title">Chips</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="material_grid.html" class="nav-link ">
                                        <span class="title">Grid</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="material_icons.html" class="nav-link ">
                                        <span class="title">Icon</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="material_form.html" class="nav-link ">
                                        <span class="title">Form</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="material_datepicker.html" class="nav-link ">
                                        <span class="title">DatePicker</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="material_select.html" class="nav-link ">
                                        <span class="title">Select Item</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="material_loading.html" class="nav-link ">
                                        <span class="title">Loading</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="material_menu.html" class="nav-link ">
                                        <span class="title">Menu</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="material_slider.html" class="nav-link ">
                                        <span class="title">Slider</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="material_tables.html" class="nav-link ">
                                        <span class="title">Tables</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="material_toggle.html" class="nav-link ">
                                        <span class="title">Toggle</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="material_badges.html" class="nav-link ">
                                        <span class="title">Badges</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul> -->
                </li>
                <li class="mega-menu-dropdown ">
                    <a class="dropdown-toggle"> <i class="material-icons">subtitles</i>
                        <span class="ml-1">Administración</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 200px;">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="mega-menu-submenu">
                                            <li class="nav-item">
                                                <a href="" class="nav-link ">
                                                    <span class="title">Caja</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#factura" class="nav-link ">
                                                    <span class="title">Facturacion</span>
                                                </a>
                                            </li>
                                            <!-- <li class="nav-item">
                                                <a href="wizard.html" class="nav-link ">
                                                    <span class="title">Form Wizard</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="validation_form.html" class="nav-link ">
                                                    <span class="title">Form Validation</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="editable_form.html" class="nav-link ">
                                                    <span class="title">Editor</span>
                                                </a>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- <li class="mega-menu-dropdown ">
                    <a href="#" class="dropdown-toggle"> <i class="material-icons">list</i> Data Tables
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 200px;">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="mega-menu-submenu">
                                            <li class="nav-item">
                                                <a href="basic_table.html" class="nav-link ">
                                                    <span class="title">Basic Tables</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="advanced_table.html" class="nav-link ">
                                                    <span class="title">Advance Tables</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="export_table.html" class="nav-link ">
                                                    <span class="title">Export Tables</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="child_row_table.html" class="nav-link ">
                                                    <span class="title">Child Row Tables</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="group_table.html" class="nav-link ">
                                                    <span class="title">Grouping</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="tableData.html" class="nav-link ">
                                                    <span class="title">Tables With Sourced Data</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="mega-menu-dropdown ">
                    <a href="#" class="dropdown-toggle"> <i class="material-icons">timeline</i> Charts
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 200px;">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="mega-menu-submenu">
                                            <li class="nav-item">
                                                <a href="charts_echarts.html" class="nav-link ">
                                                    <span class="title">eCharts</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="charts_morris.html" class="nav-link ">
                                                    <span class="title">Morris Charts</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="charts_chartjs.html" class="nav-link ">
                                                    <span class="title">Chartjs</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="mega-menu-dropdown ">
                    <a href="#" class="dropdown-toggle"> <i class="material-icons">map</i> Maps
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 200px;">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="mega-menu-submenu">
                                            <li class="nav-item">
                                                <a href="google_maps.html" class="nav-link ">
                                                    <span class="title">Google Maps</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="vector_maps.html" class="nav-link ">
                                                    <span class="title">Vector Maps</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="mega-menu-dropdown ">
                    <a href="#" class="dropdown-toggle"> <i class="material-icons">description</i> Extra pages
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 200px;">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="mega-menu-submenu">
                                            <li class="nav-item  ">
                                                <a href="login.html" class="nav-link "> <span
                                                        class="title">Login</span>
                                                </a>
                                            </li>
                                            <li class="nav-item  ">
                                                <a href="sign_up.html" class="nav-link "> <span
                                                        class="title">Sign Up</span>
                                                </a>
                                            </li>
                                            <li class="nav-item  ">
                                                <a href="forgot_password.html" class="nav-link "> <span
                                                        class="title">Forgot Password</span>
                                                </a>
                                            </li>
                                            <li class="nav-item"><a href="user_profile.html"
                                                    class="nav-link "><span class="title">Profile</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="contact.html" class="nav-link "> <span
                                                        class="title">Contact Us</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="lock_screen.html" class="nav-link "> <span
                                                        class="title">Lock Screen</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="page-404.html" class="nav-link "> <span
                                                        class="title">404 Page</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="page-500.html" class="nav-link "> <span
                                                        class="title">500 Page</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="blank_page.html" class="nav-link "> <span
                                                        class="title">Blank Page</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
    <!-- end horizontal menu -->
</div>
<div class="chat-sidebar-container" data-close-on-body-click="false">
    <div class="chat-sidebar">
        <ul class="nav nav-tabs">
            <!-- <li class="nav-item">
                <a href="#quick_sidebar_tab_1" class="nav-link active tab-icon" data-toggle="tab"> <i
                        class="material-icons">chat</i>Chat
                    <span class="badge badge-danger">4</span>
                </a>
            </li> -->
            <li class="nav-item">
                <a href="#quick_sidebar_tab_3" class="nav-link tab-icon active" data-toggle="tab"> <i
                        class="material-icons">settings</i>
                    Settings
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <!-- Start User Chat -->
            <!-- <div class="tab-pane active chat-sidebar-chat in active show" role="tabpanel" id="quick_sidebar_tab_1">
                <div class="chat-sidebar-list">
                    <div class="chat-sidebar-chat-users slimscroll-style" data-rail-color="#ddd"
                        data-wrapper-class="chat-sidebar-list">
                        <div class="chat-header">
                            <h5 class="list-heading">Online</h5>
                        </div>
                        <ul class="media-list list-items">
                            <li class="media"><img class="media-object" src="img/prof/prof3.jpg" width="35" height="35"
                                    alt="...">
                                <i class="online dot"></i>
                                <div class="media-body">
                                    <h5 class="media-heading">John Deo</h5>
                                    <div class="media-heading-sub">Spine Surgeon</div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-status">
                                    <span class="badge badge-success">5</span>
                                </div> <img class="media-object" src="img/prof/prof1.jpg" width="35" height="35"
                                    alt="...">
                                <i class="busy dot"></i>
                                <div class="media-body">
                                    <h5 class="media-heading">Rajesh</h5>
                                    <div class="media-heading-sub">Director</div>
                                </div>
                            </li>
                            <li class="media"><img class="media-object" src="img/prof/prof5.jpg" width="35" height="35"
                                    alt="...">
                                <i class="away dot"></i>
                                <div class="media-body">
                                    <h5 class="media-heading">Jacob Ryan</h5>
                                    <div class="media-heading-sub">Ortho Surgeon</div>
                                </div>
                            </li>

                        </ul>
                        <div class="chat-header">
                            <h5 class="list-heading">Offline</h5>
                        </div>
                        <ul class="media-list list-items">
                            <li class="media">
                                <div class="media-status">
                                    <span class="badge badge-warning">4</span>
                                </div> <img class="media-object" src="img/prof/prof6.jpg" width="35" height="35"
                                    alt="...">
                                <i class="offline dot"></i>
                                <div class="media-body">
                                    <h5 class="media-heading">Jennifer Maklen</h5>
                                    <div class="media-heading-sub">Nurse</div>
                                    <div class="media-heading-small">Last seen 01:20 AM</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <!-- End User Chat -->
            <!-- Start Setting Panel -->
            <div class="tab-pane chat-sidebar-settings in active show" role="tabpanel" id="quick_sidebar_tab_3">
                <div class="chat-sidebar-settings-list slimscroll-style">
                    <div class="chat-header">
                        <h5 class="list-heading">General Settings</h5>
                    </div>
                    <div class="chatpane inner-content ">
                        <div class="settings-list">
                            <div class="setting-item">
                                <div class="setting-text">
                                    <a href="#add-role" class="btn btn-primary">Role</a>
                                </div>
                                <div class="setting-text">
                                    <a href="#add-user" class="btn btn-primary">User</a>
                                </div>
                            </div>

                        </div>
                        <div class="chat-header">
                            <h5 class="list-heading">System Settings</h5>
                        </div>
                        <div class="settings-list">
                            <div class="setting-item">
                                <div class="row">
                                    <div class="col-12 d-flex">
                                        <div class="col-3">
                                            <div class="setting-text">
                                                <a href="#aulas" class="spec" title="Aula">
                                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24"
                                                        height="24" viewBox="0 0 172 172" style=" fill:#000000;">
                                                        <g fill="none" fill-rule="nonzero" stroke="none"
                                                            stroke-width="1" stroke-linecap="butt"
                                                            stroke-linejoin="miter" stroke-miterlimit="10"
                                                            stroke-dasharray="" stroke-dashoffset="0" font-family="none"
                                                            font-weight="none" font-size="none" text-anchor="none"
                                                            style="mix-blend-mode: normal">
                                                            <path d="M0,172v-172h172v172z" fill="none"></path>
                                                            <g fill="#ffffff">
                                                                <path
                                                                    d="M35.83333,14.33333c-11.8418,0 -21.5,9.6582 -21.5,21.5v100.33333c0,11.8418 9.6582,21.5 21.5,21.5h100.33333c11.8418,0 21.5,-9.6582 21.5,-21.5v-100.33333c0,-11.8418 -9.6582,-21.5 -21.5,-21.5zM35.83333,28.66667h100.33333c3.94726,0 7.16667,3.2194 7.16667,7.16667v100.33333c0,3.94726 -3.2194,7.16667 -7.16667,7.16667h-7.16667v-14.33333h-35.83333v14.33333h-57.33333c-3.94726,0 -7.16667,-3.2194 -7.16667,-7.16667v-100.33333c0,-3.94726 3.2194,-7.16667 7.16667,-7.16667zM86,43c-7.92253,0 -14.33333,6.41081 -14.33333,14.33333c0,7.92253 6.41081,14.33333 14.33333,14.33333c7.92253,0 14.33333,-6.41081 14.33333,-14.33333c0,-7.92253 -6.41081,-14.33333 -14.33333,-14.33333zM53.75,57.33333c-5.9349,0 -10.75,4.8151 -10.75,10.75c0,5.9349 4.8151,10.75 10.75,10.75c5.9349,0 10.75,-4.8151 10.75,-10.75c0,-5.9349 -4.8151,-10.75 -10.75,-10.75zM118.25,57.33333c-5.9349,0 -10.75,4.8151 -10.75,10.75c0,5.9349 4.8151,10.75 10.75,10.75c5.9349,0 10.75,-4.8151 10.75,-10.75c0,-5.9349 -4.8151,-10.75 -10.75,-10.75zM86,78.83333c-19.06445,0 -25.08333,17.91667 -25.08333,17.91667c0,-6.07487 3.58333,-10.75 3.58333,-10.75c-2.1556,-1.34375 -7.67057,-2.23958 -10.30208,-2.23958c-8.70638,0 -18.36458,8.53841 -18.36458,14.33333v16.57292h100.33333v-16.57292c0,-5.79492 -10.83399,-14.33333 -18.36458,-14.33333c-2.63151,0 -8.14649,0.89583 -10.30208,2.23958c0,0 3.58333,4.67513 3.58333,10.75c0,0 -6.01888,-17.91667 -25.08333,-17.91667z">
                                                                </path>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="setting-text">
                                                <a href="" class="spec" title="Clases">
                                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24"
                                                        height="24" viewBox="0 0 172 172" style=" fill:#000000;">
                                                        <g fill="none" fill-rule="nonzero" stroke="none"
                                                            stroke-width="1" stroke-linecap="butt"
                                                            stroke-linejoin="miter" stroke-miterlimit="10"
                                                            stroke-dasharray="" stroke-dashoffset="0" font-family="none"
                                                            font-weight="none" font-size="none" text-anchor="none"
                                                            style="mix-blend-mode: normal">
                                                            <path d="M0,172v-172h172v172z" fill="none"></path>
                                                            <g fill="#ffffff">
                                                                <path
                                                                    d="M43,14.33333c-7.91608,0 -14.33333,6.41725 -14.33333,14.33333c0,7.91608 6.41725,14.33333 14.33333,14.33333c7.91608,0 14.33333,-6.41725 14.33333,-14.33333c0,-7.91608 -6.41725,-14.33333 -14.33333,-14.33333zM71.66667,21.5v14.33333h64.5v57.33333h-57.33333v14.33333h71.66667v-86zM35.83333,50.16667c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v43h43v-43h43v-14.33333h-43h-7.16667zM43,121.83333c-7.91608,0 -14.33333,6.41725 -14.33333,14.33333c0,7.91608 6.41725,14.33333 14.33333,14.33333c7.91608,0 14.33333,-6.41725 14.33333,-14.33333c0,-7.91608 -6.41725,-14.33333 -14.33333,-14.33333zM86,121.83333c-7.91608,0 -14.33333,6.41725 -14.33333,14.33333c0,7.91608 6.41725,14.33333 14.33333,14.33333c7.91608,0 14.33333,-6.41725 14.33333,-14.33333c0,-7.91608 -6.41725,-14.33333 -14.33333,-14.33333zM129,121.83333c-7.91608,0 -14.33333,6.41725 -14.33333,14.33333c0,7.91608 6.41725,14.33333 14.33333,14.33333c7.91608,0 14.33333,-6.41725 14.33333,-14.33333c0,-7.91608 -6.41725,-14.33333 -14.33333,-14.33333z">
                                                                </path>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="setting-text" title="Eventos">
                                                <a href="" class="spec"><svg xmlns="http://www.w3.org/2000/svg" x="0px"
                                                        y="0px" width="24" height="24" viewBox="0 0 172 172"
                                                        style=" fill:#000000;">
                                                        <g fill="none" fill-rule="nonzero" stroke="none"
                                                            stroke-width="1" stroke-linecap="butt"
                                                            stroke-linejoin="miter" stroke-miterlimit="10"
                                                            stroke-dasharray="" stroke-dashoffset="0" font-family="none"
                                                            font-weight="none" font-size="none" text-anchor="none"
                                                            style="mix-blend-mode: normal">
                                                            <path d="M0,172v-172h172v172z" fill="none"></path>
                                                            <g fill="#ffffff">
                                                                <path
                                                                    d="M48.375,21.5v5.375h-21.5v118.25h62.31641c6.42481,15.68408 21.87793,26.875 39.80859,26.875c23.6416,0 43,-19.3584 43,-43c0,-17.93066 -11.19092,-33.38379 -26.875,-39.80859v-62.31641h-21.5v-5.375h-10.75v5.375h-53.75v-5.375zM37.625,37.625h10.75v5.375h10.75v-5.375h53.75v5.375h10.75v-5.375h10.75v10.75h-96.75zM37.625,59.125h96.75v27.21094c-1.78467,-0.23096 -3.54834,-0.33594 -5.375,-0.33594c-23.6416,0 -43,19.3584 -43,43c0,1.82666 0.10498,3.59033 0.33594,5.375h-48.71094zM129,96.75c17.7417,0 32.25,14.5083 32.25,32.25c0,17.7417 -14.5083,32.25 -32.25,32.25c-17.7417,0 -32.25,-14.5083 -32.25,-32.25c0,-17.7417 14.5083,-32.25 32.25,-32.25zM146.80469,114.55469l-17.80469,17.63672l-12.42969,-12.26172l-7.39062,7.39063l19.82031,19.98828l25.19531,-25.36328z">
                                                                </path>
                                                            </g>
                                                        </g>
                                                    </svg></a>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="setting-text">
                                                <a href="" class="spec" title="Factura">
                                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24"
                                                        height="24" viewBox="0 0 172 172" style=" fill:#000000;">
                                                        <g fill="none" fill-rule="nonzero" stroke="none"
                                                            stroke-width="1" stroke-linecap="butt"
                                                            stroke-linejoin="miter" stroke-miterlimit="10"
                                                            stroke-dasharray="" stroke-dashoffset="0" font-family="none"
                                                            font-weight="none" font-size="none" text-anchor="none"
                                                            style="mix-blend-mode: normal">
                                                            <path d="M0,172v-172h172v172z" fill="none"></path>
                                                            <g fill="#ffffff">
                                                                <path
                                                                    d="M18.8125,1.34375c-9.675,0 -17.46875,7.79375 -17.46875,17.46875v134.375c0,9.675 7.79375,17.46875 17.46875,17.46875h59.125c2.28437,0 4.03125,-1.74687 4.03125,-4.03125c0,-2.28438 -1.74688,-4.03125 -4.03125,-4.03125h-59.125c-5.24062,0 -9.40625,-4.16563 -9.40625,-9.40625v-134.375c0,-5.24062 4.16563,-9.40625 9.40625,-9.40625h68.53125v9.40625c0,9.675 7.79375,17.46875 17.46875,17.46875h12.89947h0.53803c2.28437,0 4.03125,-1.74688 4.03125,-4.03125c0,-8.33125 -3.22395,-15.99167 -9.00208,-21.90417c-5.9125,-5.77812 -13.7073,-9.00208 -21.90417,-9.00208zM95.40625,9.81042c4.56875,0.80625 8.73438,2.9552 12.09375,6.31458c3.35938,3.35938 5.50833,7.525 6.31458,12.09375h-9.00208c-5.24063,0 -9.40625,-4.16563 -9.40625,-9.40625zM118.11615,45.6875c-2.28438,0 -4.03125,1.74687 -4.03125,4.03125v45.6875c0,2.28437 1.74687,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-45.6875c0,-2.28438 -1.74688,-4.03125 -4.03125,-4.03125zM61.8125,53.75c-2.28438,0 -4.03125,1.74687 -4.03125,4.03125v0.53803c-6.31563,1.74688 -10.88385,7.52395 -10.88385,14.37707c0,4.8375 2.28332,9.27187 6.31457,12.09375l12.49793,8.73438c1.88125,1.34375 3.08905,3.36095 3.08905,5.64532c0,3.7625 -3.0901,6.8526 -6.8526,6.8526c-2.6875,0 -5.23957,-1.61198 -6.31457,-4.1651c-0.94062,-2.01562 -3.22553,-2.95835 -5.24115,-2.1521c-2.01562,0.94062 -2.95572,3.22552 -2.14947,5.24115c1.88125,4.16562 5.37395,7.2573 9.67395,8.46668v0.80572c-0.13437,2.28437 1.61303,4.03125 3.8974,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-0.53803c6.31562,-1.74687 10.88385,-7.52395 10.88385,-14.37707c0,-4.97188 -2.41718,-9.5422 -6.44843,-12.36407l-12.49792,-8.5979c-1.74687,-1.34375 -2.82135,-3.36095 -2.82135,-5.64532c0,-3.7625 3.0901,-6.8526 6.8526,-6.8526c2.82188,0 5.23958,1.61197 6.31458,4.1651c0.80625,2.01563 3.22552,2.95573 5.24115,2.14948c2.01563,-0.80625 2.95573,-3.2229 2.14948,-5.23853c-1.74688,-4.3 -5.37395,-7.39115 -9.67395,-8.60052v-0.53803c0,-2.28438 -1.74688,-4.03125 -4.03125,-4.03125zM118.11615,108.84375c-17.06563,0 -30.90625,13.84063 -30.90625,30.90625c0,17.06563 13.84062,30.90625 30.90625,30.90625c5.50937,0 10.61457,-1.47865 15.04895,-3.8974c3.7625,2.41875 8.3323,3.8974 13.1698,3.8974c13.30312,0 24.1875,-10.88438 24.1875,-24.1875c0.13438,-7.65938 -3.49532,-14.91615 -9.67657,-19.35053c-1.74687,-1.34375 -4.29895,-0.94115 -5.6427,0.80573c-1.34375,1.74687 -0.94115,4.30157 0.80573,5.64532c4.16563,3.09062 6.45105,7.79322 6.45105,12.89947c0,8.86875 -7.25625,16.125 -16.125,16.125c-2.15,0 -4.29948,-0.40365 -6.18073,-1.2099c5.50938,-5.64375 8.86823,-13.16823 8.86823,-21.63385c0,-17.06562 -13.84062,-30.90625 -30.90625,-30.90625zM118.25,116.90625c12.63125,0 22.84375,10.2125 22.84375,22.84375c0,12.63125 -10.2125,22.84375 -22.84375,22.84375c-12.63125,0 -22.84375,-10.2125 -22.84375,-22.84375c0,-12.63125 10.2125,-22.84375 22.84375,-22.84375z">
                                                                </path>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="setting-item">
                                <div class="row">
                                    <div class="col-12 d-flex">
                                        <div class="col-3">
                                            <div class="setting-text">
                                                <a href="" class="spec" title="Profesores">
                                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24"
                                                        height="24" viewBox="0 0 172 172" style=" fill:#000000;">
                                                        <g fill="none" fill-rule="nonzero" stroke="none"
                                                            stroke-width="1" stroke-linecap="butt"
                                                            stroke-linejoin="miter" stroke-miterlimit="10"
                                                            stroke-dasharray="" stroke-dashoffset="0" font-family="none"
                                                            font-weight="none" font-size="none" text-anchor="none"
                                                            style="mix-blend-mode: normal">
                                                            <path d="M0,172v-172h172v172z" fill="none"></path>
                                                            <g>
                                                                <path
                                                                    d="M21.5,115.5625l45.6875,-21.5l18.8125,5.375l18.8125,-5.375l45.6875,21.5c8.24256,3.225 13.4375,13.88631 13.4375,22.73625v20.26375c0,2.96969 -2.40531,5.375 -5.375,5.375h-145.125c-2.96969,0 -5.375,-2.40531 -5.375,-5.375v-20.26375c0,-8.84994 5.19494,-19.51125 13.4375,-22.73625z"
                                                                    fill="#ffffff"></path>
                                                                <path
                                                                    d="M86,126.3125c13.8675,0 29.5625,-8.0625 37.625,-24.1875l-18.8125,-8.0625l-18.8125,5.375l-16.125,-5.375l-21.5,8.0625c7.86362,10.95425 23.7575,24.1875 37.625,24.1875z"
                                                                    fill="#ffffff"></path>
                                                                <path
                                                                    d="M76.37069,107.72306l19.25862,0.22575l-4.25431,18.36369l1.56681,37.625h-16.57112l4.25431,-39.41756z"
                                                                    fill="#ffffff"></path>
                                                                <path
                                                                    d="M158.5625,166.625h-145.125c-4.44512,0 -8.0625,-3.61738 -8.0625,-8.0625v-20.6185c0,-11.36544 6.63544,-21.85206 16.90706,-26.71375l0.05375,-0.02687l44.462,-19.91169l19.20219,2.74394l19.20219,-2.74394l44.462,19.91169c10.32538,4.88856 16.96081,15.37788 16.96081,26.74063v20.6185c0,4.44513 -3.61737,8.0625 -8.0625,8.0625zM24.55838,116.09731c-8.39037,3.98825 -13.80837,12.55869 -13.80837,21.84669v20.6185c0,1.4835 1.20669,2.6875 2.6875,2.6875h145.125c1.48081,0 2.6875,-1.204 2.6875,-2.6875v-20.6185c0,-9.29875 -5.43144,-17.87725 -13.83256,-21.86013l-42.99462,-19.25056l-18.42281,2.63106l-18.42281,-2.63106z"
                                                                    fill="#607d8b"></path>
                                                                <path
                                                                    d="M120.46988,55.75219c-0.72025,-5.55775 -1.9565,-11.03487 -1.24163,-13.65519c0.50794,-1.86512 -0.97825,-1.7845 7.08425,0.903c-10.75,-26.875 -24.62019,-29.5625 -40.3125,-29.5625c-9.11331,0 -15.8885,1.5695 -21.5,5.375c-11.92981,0 -13.76269,18.33413 -14.02338,36.47744c-3.19275,-0.72294 -4.78912,4.91275 -4.78912,9.21006c0,3.89687 1.31687,8.55163 5.89369,10.6855c3.741,20.96788 16.5765,35.002 34.41881,35.002c17.68375,0 30.02206,-13.99381 33.74156,-34.73056c5.117,-1.97531 6.57094,-6.87731 6.57094,-10.95694c0,-4.74344 -1.95112,-11.11013 -5.84262,-8.74781z"
                                                                    fill="#ffffff"></path>
                                                                <path
                                                                    d="M69.875,34.9375c0,4.74344 30.51119,8.0625 37.625,8.0625c10.449,0 10.75,0 10.75,0c0,0 5.375,-2.6875 8.0625,0c-8.0625,-24.1875 -26.71913,-29.5625 -34.9375,-29.5625h-10.75c-4.33225,0 -10.75,2.6875 -13.4375,5.375c-7.53844,-2.408 -16.125,6.69725 -16.125,18.8125v16.125c8.0625,-2.6875 18.8125,-16.44213 18.8125,-18.8125z"
                                                                    fill="#ffffff"></path>
                                                                <path
                                                                    d="M86,129c-12.68769,0 -26.45037,-7.54381 -35.91844,-19.68594c-0.91375,-1.17175 -0.70413,-2.8595 0.46762,-3.77325c1.16906,-0.90569 2.85681,-0.70413 3.77056,0.46762c8.471,10.86556 20.61044,17.61656 31.68025,17.61656c10.97575,0 22.97275,-6.46612 31.30938,-16.8775c0.92987,-1.161 2.62031,-1.34913 3.77862,-0.41656c1.15831,0.92719 1.34644,2.62031 0.41925,3.77594c-9.33369,11.65569 -22.93781,18.89312 -35.50725,18.89312zM110.1875,158.5625c-1.4835,0 -2.6875,-1.20131 -2.6875,-2.6875v-5.375c0,-1.48619 1.204,-2.6875 2.6875,-2.6875c1.4835,0 2.6875,1.20131 2.6875,2.6875v5.375c0,1.48619 -1.204,2.6875 -2.6875,2.6875zM123.625,158.5625c-1.4835,0 -2.6875,-1.20131 -2.6875,-2.6875v-5.375c0,-1.48619 1.204,-2.6875 2.6875,-2.6875c1.4835,0 2.6875,1.20131 2.6875,2.6875v5.375c0,1.48619 -1.204,2.6875 -2.6875,2.6875zM137.0625,158.5625c-1.4835,0 -2.6875,-1.20131 -2.6875,-2.6875v-5.375c0,-1.48619 1.204,-2.6875 2.6875,-2.6875c1.4835,0 2.6875,1.20131 2.6875,2.6875v5.375c0,1.48619 -1.204,2.6875 -2.6875,2.6875zM150.5,158.5625c-1.4835,0 -2.6875,-1.20131 -2.6875,-2.6875v-5.375c0,-1.48619 1.204,-2.6875 2.6875,-2.6875c1.4835,0 2.6875,1.20131 2.6875,2.6875v5.375c0,1.48619 -1.204,2.6875 -2.6875,2.6875zM21.5,158.5625c-1.4835,0 -2.6875,-1.20131 -2.6875,-2.6875v-5.375c0,-1.48619 1.204,-2.6875 2.6875,-2.6875c1.4835,0 2.6875,1.20131 2.6875,2.6875v5.375c0,1.48619 -1.204,2.6875 -2.6875,2.6875zM34.9375,158.5625c-1.4835,0 -2.6875,-1.20131 -2.6875,-2.6875v-5.375c0,-1.48619 1.204,-2.6875 2.6875,-2.6875c1.4835,0 2.6875,1.20131 2.6875,2.6875v5.375c0,1.48619 -1.204,2.6875 -2.6875,2.6875zM48.375,158.5625c-1.4835,0 -2.6875,-1.20131 -2.6875,-2.6875v-5.375c0,-1.48619 1.204,-2.6875 2.6875,-2.6875c1.4835,0 2.6875,1.20131 2.6875,2.6875v5.375c0,1.48619 -1.204,2.6875 -2.6875,2.6875zM61.8125,158.5625c-1.4835,0 -2.6875,-1.20131 -2.6875,-2.6875v-5.375c0,-1.48619 1.204,-2.6875 2.6875,-2.6875c1.4835,0 2.6875,1.20131 2.6875,2.6875v5.375c0,1.48619 -1.204,2.6875 -2.6875,2.6875z"
                                                                    fill="#607d8b"></path>
                                                                <path
                                                                    d="M80.625,129c-1.16906,0 -2.24406,-0.76863 -2.58269,-1.95112l-5.375,-18.8125c-0.4085,-1.42438 0.41925,-2.91325 1.84631,-3.32175c1.42706,-0.39238 2.91594,0.41925 3.32175,1.849l5.375,18.8125c0.4085,1.42437 -0.41925,2.91325 -1.84631,3.32175c-0.24725,0.06719 -0.49719,0.10213 -0.73906,0.10213zM91.375,129c-0.24456,0 -0.4945,-0.03494 -0.73906,-0.10213c-1.42706,-0.4085 -2.25212,-1.89737 -1.84631,-3.32175l5.375,-18.8125c0.40581,-1.42706 1.89469,-2.23869 3.32175,-1.849c1.42706,0.4085 2.25212,1.89737 1.84631,3.32175l-5.375,18.8125c-0.33594,1.1825 -1.41094,1.95112 -2.58269,1.95112z"
                                                                    fill="#607d8b"></path>
                                                                <path
                                                                    d="M77.94019,166.625c-0.0645,0 -0.129,-0.00269 -0.1935,-0.00806c-1.48081,-0.10481 -2.59344,-1.39213 -2.48862,-2.87025l2.6875,-37.625c0.1075,-1.48081 1.37869,-2.62031 2.87294,-2.48863c1.48081,0.10481 2.59344,1.39213 2.48862,2.87025l-2.6875,37.625c-0.10213,1.41631 -1.28194,2.49669 -2.67944,2.49669zM94.05981,166.625c-1.3975,0 -2.57731,-1.08038 -2.67944,-2.49669l-2.6875,-37.625c-0.10481,-1.48081 1.00781,-2.76544 2.48863,-2.87025c1.51037,-0.12631 2.76812,1.00781 2.87294,2.48863l2.6875,37.625c0.10481,1.48081 -1.00781,2.76544 -2.48863,2.87025c-0.0645,0.00537 -0.129,0.00806 -0.1935,0.00806zM75.035,39.99c7.697,3.73562 16.14112,5.68406 24.69812,5.6975h6.85312c1.4835,0 2.6875,-1.204 2.6875,-2.6875c0,-1.4835 -1.204,-2.6875 -2.6875,-2.6875h-6.85312c-7.74806,-0.01075 -15.39131,-1.77644 -22.36,-5.16l-4.1925,-2.0425c-2.43219,-1.18787 -5.36963,-0.38162 -6.85313,1.88125l-4.3,6.53063c-0.7955,1.25237 -0.42463,2.91325 0.82775,3.70875c1.22281,0.77669 2.84337,0.44344 3.66038,-0.7525l4.3,-6.53062z"
                                                                    fill="#607d8b"></path>
                                                                <path
                                                                    d="M124.3775,54.0725c-0.37894,-0.09675 -0.76594,-0.1505 -1.15563,-0.16125c-0.46225,-3.16856 -1.29,-6.26994 -2.4725,-9.245v-0.29563c1.27387,0.15319 2.52088,0.47837 3.70875,0.9675c1.37062,0.56975 2.94281,-0.08063 3.51256,-1.45125c0.21231,-0.51063 0.26069,-1.075 0.14244,-1.6125c-4.48812,-19.6725 -19.10812,-31.52438 -39.42562,-31.52438h-2.6875c-6.90687,0.02956 -13.68475,1.88394 -19.64562,5.375c-9.91688,0.37625 -16.85062,7.4175 -17.97938,18.54375c-0.49719,5.01219 -0.37894,10.06737 0.34937,15.05c0.14513,0.88956 0.22575,1.78719 0.24188,2.6875c0,0.50256 -0.08063,1.00244 -0.24188,1.505c-0.39775,0.01075 -0.7955,0.0645 -1.1825,0.16125c-4.43437,1.1825 -4.54187,5.0525 -4.54187,10.4275c0,5.5685 4.70313,14.05563 7.98187,15.39938c1.67431,4.99338 3.9775,9.75025 6.85313,14.16312l-0.00806,0.00538c0.817,1.6555 3.17931,4.50963 3.17931,4.50963c6.61125,8.35813 15.31875,14.2975 24.99375,14.2975c9.632,0 18.30456,-5.891 24.90506,-14.16581c0.989,-1.23087 3.25994,-4.64669 3.25994,-4.64669c2.84606,-4.41556 5.12237,-9.17513 6.7725,-14.16312c3.30562,-1.23625 8.0625,-7.33688 8.0625,-15.39938c0,-5.375 -0.3225,-9.21812 -4.6225,-10.4275zM123.49063,67.85938c-1.34375,4.97187 -3.87,7.04125 -4.64937,7.04125c-1.23356,-0.04838 -2.3435,0.74981 -2.6875,1.935c-4.38063,15.23812 -16.2325,30.66438 -30.15375,30.66438c-13.92125,0 -25.77312,-15.42625 -30.315,-30.6375c-0.33056,-1.13681 -1.36794,-1.92425 -2.55312,-1.935h-0.05375c-0.77937,0 -3.3325,-2.09625 -4.64937,-7.04125c-1.31687,-4.945 -0.13438,-8.30437 0.48375,-8.46562c0.26606,0.04569 0.51331,0.15588 0.72562,0.3225c1.25775,0.78744 2.91594,0.4085 3.70338,-0.84925c0.24456,-0.39238 0.38431,-0.8385 0.4085,-1.30075c0.0645,-1.38675 0.21769,-2.77081 0.45688,-4.13875c0.13975,-1.47275 0.06719,-2.95625 -0.215,-4.4075c-0.64231,-4.58756 -0.72294,-9.23425 -0.24188,-13.84063c0.83312,-8.57313 5.88562,-13.70625 13.4375,-13.70625c0.5805,0 1.14756,-0.18812 1.6125,-0.5375c5.16806,-3.19006 11.12625,-4.86437 17.2,-4.8375h2.6875c16.31313,0 28.08438,8.33125 32.92188,23.05875c-1.80869,-0.35206 -3.68187,0.12094 -5.10625,1.29c-1.548,1.68506 -1.86244,4.16562 -0.77937,6.18125c1.43244,3.47762 2.25212,7.181 2.41875,10.93813c0.07525,1.4835 1.33837,2.623 2.81919,2.54775c0.46762,-0.02419 0.9245,-0.16931 1.31688,-0.42463c0.215,-0.16125 0.46225,-0.27144 0.72563,-0.3225c0.64769,0.215 1.83019,3.49375 0.48644,8.46563z"
                                                                    fill="#607d8b"></path>
                                                                <path
                                                                    d="M77.9375,75.25h-18.8125l-2.6875,-13.4375h26.875zM112.875,75.25h-18.8125l-5.375,-13.4375h26.875z"
                                                                    fill="#ffffff"></path>
                                                                <path
                                                                    d="M77.9375,77.9375h-18.8125c-1.28194,0 -2.38381,-0.90569 -2.63375,-2.16075l-2.6875,-13.4375c-0.15856,-0.79013 0.04569,-1.60981 0.55631,-2.23062c0.51063,-0.62081 1.27119,-0.98363 2.07744,-0.98363h24.1875c0.80625,0 1.56681,0.36281 2.07744,0.98362c0.51063,0.62081 0.71488,1.4405 0.55631,2.23062l-2.6875,13.4375c-0.24994,1.25506 -1.35181,2.16075 -2.63375,2.16075zM61.32875,72.5625h14.405l1.6125,-8.0625h-17.63z"
                                                                    fill="#607d8b"></path>
                                                                <path
                                                                    d="M112.875,77.9375h-18.8125c-1.28194,0 -2.38381,-0.90569 -2.63375,-2.16075l-2.2575,-11.27675h-8.54625v-5.375h34.9375c0.80625,0 1.56681,0.36281 2.07744,0.98362c0.51063,0.62081 0.71488,1.4405 0.55631,2.23062l-2.6875,13.4375c-0.24994,1.25506 -1.35181,2.16075 -2.63375,2.16075zM96.26625,72.5625h14.405l1.6125,-8.0625h-17.63z"
                                                                    fill="#607d8b"></path>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="setting-text">
                                                <a href="" class="spec" title="Horarios">
                                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24"
                                                        height="24" viewBox="0 0 172 172" style=" fill:#000000;">
                                                        <g fill="none" fill-rule="nonzero" stroke="none"
                                                            stroke-width="1" stroke-linecap="butt"
                                                            stroke-linejoin="miter" stroke-miterlimit="10"
                                                            stroke-dasharray="" stroke-dashoffset="0" font-family="none"
                                                            font-weight="none" font-size="none" text-anchor="none"
                                                            style="mix-blend-mode: normal">
                                                            <path d="M0,172v-172h172v172z" fill="none"></path>
                                                            <g fill="#ffffff">
                                                                <path
                                                                    d="M35.83333,21.5c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v100.33333c0,7.91917 6.41417,14.33333 14.33333,14.33333h40.04655c-1.83467,-4.52217 -3.09981,-9.32383 -3.72331,-14.33333h-36.32324v-71.66667h100.33333v7.65657c5.0095,0.6235 9.81117,1.88865 14.33333,3.72331v-40.04655c0,-7.91917 -6.41417,-14.33333 -14.33333,-14.33333zM35.83333,35.83333h100.33333v14.33333h-100.33333zM50.16667,78.83333v14.33333h14.33333v-14.33333zM78.83333,78.83333v14.33333h5.44499c4.6655,-5.81217 10.43533,-10.69983 16.99283,-14.33333zM129,86v14.33333c15.76667,0 28.66667,12.9 28.66667,28.66667c0,15.76667 -12.9,28.66667 -28.66667,28.66667c-15.10733,0 -27.44587,-11.87853 -28.4707,-26.73503l-13.01758,-13.01758c-0.94601,3.54033 -1.51172,7.25177 -1.51172,11.08594c0,23.65 19.35,43 43,43c23.65,0 43,-19.35 43,-43c0,-23.65 -19.35,-43 -43,-43zM104.02865,93.89453l-10.13412,10.13412l30.03842,30.03841c1.3975,1.3975 3.23239,2.09961 5.06706,2.09961c1.83467,0 3.66956,-0.70211 5.06706,-2.09961c2.80217,-2.80217 2.80217,-7.33194 0,-10.13411zM50.16667,107.5v14.33333h14.33333v-14.33333z">
                                                                </path>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="setting-text">
                                                <a href="" class="spec" title="Asignaciones">
                                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24"
                                                        height="24" viewBox="0 0 172 172" style=" fill:#000000;">
                                                        <g fill="none" fill-rule="nonzero" stroke="none"
                                                            stroke-width="1" stroke-linecap="butt"
                                                            stroke-linejoin="miter" stroke-miterlimit="10"
                                                            stroke-dasharray="" stroke-dashoffset="0" font-family="none"
                                                            font-weight="none" font-size="none" text-anchor="none"
                                                            style="mix-blend-mode: normal">
                                                            <path d="M0,172v-172h172v172z" fill="none"></path>
                                                            <g>
                                                                <path
                                                                    d="M135.71875,38.96875h26.875v-13.4375c0,-7.39062 -6.04687,-13.4375 -13.4375,-13.4375v0c-7.39062,0 -13.4375,6.04688 -13.4375,13.4375z"
                                                                    fill="#34495e"></path>
                                                                <path
                                                                    d="M149.15625,12.09375h-112.875c-7.39062,0 -13.4375,6.04688 -13.4375,13.4375v134.375h99.4375c7.39063,0 13.4375,-6.04687 13.4375,-13.4375v-120.9375c0,-7.39062 6.04688,-13.4375 13.4375,-13.4375z"
                                                                    fill="#ffffff"></path>
                                                                <path
                                                                    d="M108.84375,83.3125h-59.125c-2.28438,0 -4.03125,-1.74688 -4.03125,-4.03125c0,-2.28437 1.74687,-4.03125 4.03125,-4.03125h59.125c2.28437,0 4.03125,1.74688 4.03125,4.03125c0,2.28437 -1.74688,4.03125 -4.03125,4.03125zM95.40625,43h-32.25c-2.28438,0 -4.03125,-1.74688 -4.03125,-4.03125c0,-2.28437 1.74687,-4.03125 4.03125,-4.03125h32.25c2.28437,0 4.03125,1.74688 4.03125,4.03125c0,2.28437 -1.74688,4.03125 -4.03125,4.03125z"
                                                                    fill="#34495e"></path>
                                                                <path
                                                                    d="M108.84375,146.46875v-13.4375h-99.4375v13.4375c0,7.39063 6.04688,13.4375 13.4375,13.4375h99.4375c-7.39062,0 -13.4375,-6.04687 -13.4375,-13.4375z"
                                                                    fill="#ffffff"></path>
                                                                <path
                                                                    d="M149.15625,8.0625h-112.875c-9.675,0 -17.46875,7.79375 -17.46875,17.46875v90.03125c0,2.28437 1.74687,4.03125 4.03125,4.03125c2.28438,0 4.03125,-1.74688 4.03125,-4.03125v-90.03125c0,-5.24063 4.16563,-9.40625 9.40625,-9.40625h98.09375c-1.74687,2.6875 -2.6875,5.9125 -2.6875,9.40625v120.9375c0,5.24062 -4.16562,9.40625 -9.40625,9.40625c-5.24063,0 -9.40625,-4.16563 -9.40625,-9.40625v-13.4375c0,-2.28438 -1.74688,-4.03125 -4.03125,-4.03125h-99.4375c-2.28437,0 -4.03125,1.74687 -4.03125,4.03125v13.4375c0,9.675 7.79375,17.46875 17.46875,17.46875h99.4375c9.675,0 17.46875,-7.79375 17.46875,-17.46875v-120.9375c0,-5.24063 4.16563,-9.40625 9.40625,-9.40625c5.24062,0 9.40625,4.16562 9.40625,9.40625v9.40625h-9.40625c-2.28438,0 -4.03125,1.74688 -4.03125,4.03125c0,2.28437 1.74687,4.03125 4.03125,4.03125h13.4375c2.28438,0 4.03125,-1.74688 4.03125,-4.03125v-13.4375c0,-9.675 -7.79375,-17.46875 -17.46875,-17.46875zM22.84375,155.875c-5.24063,0 -9.40625,-4.16563 -9.40625,-9.40625v-9.40625h91.375v9.40625c0,3.49375 1.075,6.71875 2.6875,9.40625z"
                                                                    fill="#ffffff"></path>
                                                                <path
                                                                    d="M88.95625,103.46875h-38.96875c-2.28438,0 -4.03125,-1.74688 -4.03125,-4.03125c0,-2.28437 1.74687,-4.03125 4.03125,-4.03125h38.96875c2.28438,0 4.03125,1.74688 4.03125,4.03125c0,2.28437 -1.74687,4.03125 -4.03125,4.03125zM109.1125,103.46875h-0.26875c-2.28437,0 -4.03125,-1.74688 -4.03125,-4.03125c0,-2.28437 1.74688,-4.03125 4.03125,-4.03125h0.26875c2.28438,0 4.03125,1.74688 4.03125,4.03125c0,2.28437 -1.74687,4.03125 -4.03125,4.03125z"
                                                                    fill="#34495e"></path>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="chat-header">
                            <h5 class="list-heading">General Settings</h5>
                        </div>
                        <div class="settings-list">
                            <div class="setting-item">
                                <div class="setting-text">Location</div>
                                <div class="setting-set">
                                    <div class="switch">
                                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                            for="switch-4">
                                            <input type="checkbox" id="switch-4" class="mdl-switch__input"
                                                checked>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end chat sidebar -->
<!-- end header -->