<% include ../partials/header%>

<body
    class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md page-full-width white-sidebar-color logo-white header-dark">
    <div class="page-wrapper">
        <% include ../partials/nav%>
        <div class="page-container">
            <% include ../partials/sidebar%>
            <div class="page-content-wrapper" id="container">


            </div>
        </div>
    </div>

    <% include ../partials/script%>

</body>